.form {
  position: absolute;
  top: 30%;
  z-index: 1;
  background:#333;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.h1 {
  color: black;
  font-family: "Times New Roman";
}

.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li-extend {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  background-color: rgb(236, 0, 0);
}

.highscore-ul {
  list-style-type: none;
  margin-right: 150px;
  margin-left: 150px;
  padding:0;
  background-color: #333;
}

li b {
  display: block;
  border: 1px solid white;
  color: #ffff;
  padding: 10px 50px;
  text-decoration: none;
}
